
 <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        
         
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="/water">Water</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="/air">Air</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="/earth">Earth</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="/fire">Fire</a>
          </li>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Elements, Inc</p>
    </footer>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 
</body>
</html>