<!DOCTYPE html>
<html></html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Zodiacs</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/water">WATER</a></li>
            <li><a href="/air">AIR</a></li>
            <li><a href="/fire">FIRE</a></li>
            <li><a href="/earth">EARTH</a></li>
        </ul>
    </nav>