<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zodiac Controllers</title>
  </head>
  <body>
    <!-- notice how there are no closing tags for html and for body, this is important! -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/water">Water</a></li>
        <li><a href="/air">Air</a></li>
        <li><a href="/fire">Fire</a></li>
        <li><a href="/earth">Earth</a></li>
      </ul>
    </nav>
  </body>
</html>
