<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zodiac Controllers</title>
  </head>
  <body>
    <!-- notice how there are no closing tags for html and for body, this is important! -->
  </body>
</html>
