<header>
  <div class="w3-bar w3-border w3-light-grey">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <div class="dropdown">
      <a href="/Water" class="dropbtn-w3-bar-item w3-button w3-hover-blue">Water
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="/Water/Taurus">Taurus</a>
        <a href="/Water/Virgo">Virgo</a>
        <a href="/Water/Capricorn">Capricorn</a>
      </div>
    </div> 

    <div class="dropdown">
      <a href="/Air" class="dropbtn-w3-bar-item w3-button w3-hover-pink">Air
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="/Air/Libra">Libra</a>
        <a href="/Air/Gemini">Gemini</a>
        <a href="/Air/Aquarius">Aquarius</a>
      </div>
    </div> 

    <div class="dropdown">
      <a href="/Water" class="dropbtn-w3-bar-item w3-button w3-hover-orange">Fire
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="#">Pisces</a>
        <a href="#">Scorpio</a>
        <a href="#">Cancer</a>
      </div>
    </div> 

    <div class="dropdown">
      <a href="/Water" class="dropbtn-w3-bar-item w3-button w3-hover-green">Earth
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="/Water/Taurus">Taurus</a>
        <a href="/Water/Virgo">Virgo</a>
        <a href="/Water/Capricorn">Capricorn</a>
      </div>
    </div> 

</div>
  </header>