<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Oswald:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title><%= title %></title>

    <ul class="nav">
        <a class="menu" href="/">Home</a>
        <a class="menu"  href="/water">Water Zodiac Signs</a>
        <a class="menu"  href="/air">Air Zodiac Signs</a>
        <a class="menu"  href="/fire">Fire Zodiac Signs</a>
        <a class="menu"  href="/earth">Earth Zodiac Signs</a>
      </ul>
    
</head>
<body>
    
</body>
</html>