<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Love it or leave it</title>
    <link rel="stylesheet" href="../styles.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/water/waters">Water Sign</a></li>
            <li><a href="/air/airs">Air Sign</a></li>
            <li><a href="/fire/fires">Fire Sign</a></li>
            <li><a href="/earth/earths">Earth Sign</a></li>
        </ul>
    </nav>