<header>
  <div class="w3-bar w3-border w3-light-grey">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/Water" class="w3-bar-item w3-button w3-hover-blue">Water</a>
    <a href="/Air" class="w3-bar-item w3-button w3-hover-pink">Air</a>
    <a href="/Fire" class="w3-bar-item w3-button w3-hover-orange">Fire</a>
    <a href="/Earth" class="w3-bar-item w3-button w3-hover-green">Earth</a>
</div>
  </header>