<h2>Water Signs</h2>
<ul>
  <% traits.forEach(trait => { %>
  <li><%= trait %></li>
  <% }); %>
</ul>
<h2>Water Signs</h2>
<ul>
  <% traits.forEach(trait => { %>
  <li><%= trait %></li>
  <% }); %>
</ul>
