<h1>Air Signs</h1>
<ul>
    <% airSigns.forEach((signs) => { %>
        <li><a href="/elements/air/<%= signs %>"> <%= signs %> </a></li>
    <% }) %>
</ul>


<h2>Air Traits</h2>
<ul>
    <% air.forEach(element => { %>
        <li><%= element %> </li>
    <% }) %>
</ul>


<h1>Air Signs</h1>

