<h1>Earth Signs</h1>
<ul>
    <% earthSigns.forEach((signs) => { %>
        <li><a href="/elements/earth/<%= signs %>"> <%= signs %> </a></li>
    <% }) %>
</ul>

<h2>Earth Traits</h2>
<ul>
    <% earth.forEach(element => { %>
        <li><%= element %> </li>
    <% }) %>
</ul>