<header>
    <h1>Air Sign</h1>
</header>

    <h2>Aquarius Gemini Libra</h2>
    <h3>Traits</h3>
        <ul>
            <% traits.forEach(trait => { %>
                <li> <%= trait %> </li>
            <% }) %> 
        </ul>