<header>
    <h1>Earth Sign</h1>
</header>

        <h2>Taurus Virgo Capricorn</h2>
        <h3>Traits</h3>
            <ul>
                    <% traits.forEach(trait => { %>
                    <li> <%= trait %> </li>
                <% }) %> 
            </ul>