<header>
    <h1>Fire Sign</h1>
</header>

    <h2>Aries Leo Sagitarius</h2>
        <h3>Traits</h3>
            <ul>
                <% traits.forEach(trait => { %>
                <li> <%= trait %> </li>
            <% }) %> 
        </ul>