<!DOCTYPE html>
<html>
	<head>
		<title>Zodiac Controller</title>
	
		<link rel="stylesheet" href="./css/styles.css" />
	</head>
	<body> 
		<h1>Zodiac Controllers</h1>     
		<%- body %>
	</body>
</html>