<h2 style="color: rgb(28, 228, 151)">Air signs</h2>

<ul>
  <%airTraits[0].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
<h2 style="color: rgb(28, 228, 151)">Traits</h2>
<ul>
  <%airTraits[1].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
