<h1>Air Signs</h1>
<ul>
    <% airSigns.forEach((sign)=> { %>
        <li><%= sign %></li>
    <% }) %>
</ul>
<h1>Air Traits</h1>
<ul>
    <% airTraits.forEach((trait)=> { %>
        <li><%= trait %></li>
    <% }) %>
</ul>