<h1><%= title %> Signs</h1>
      <img src="./public/images/air.jpeg" style="padding-left: 20px">
      <ul>
        <% signs.forEach(t => { %>
            <div>
                <li style="font-size: 20px"> <%= t %> </li>
            </div>
            <% }) %>
      </ul>
      <hr>
      <ul>
        <% traits.forEach(t => { %>
            <div>
                <li style="font-size: 20px"> <%= t %> </li>
            </div>
            <% }) %>
          </ul>  
    
    
