<% let arrAirTraits= ['Movement','Creativity','Action','Adventure','Exciting','Easily Provoked'] %> 
<% let airSign = ['Aquarius','Gemini','Libra'] %> 

<h1> Air Horoscopes</h1>

<% airSign.forEach(sign => {%> 
    <h2><%= sign %></h2>
<% }) %> 

<h3> Air Sign Traits </h3>

<% arrAirTraits.forEach(trait => {%> 
    <li> <%= trait %> </li>
    <% }) %> 
    <a href="http://localhost:8000/">Return to Zodiac Controller</a>