<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air</title>
  <style>
     a:link {
       text-decoration: none;
      
       }

       a:visited {
       text-decoration: none;
       }   
       
      a:hover {
        color: rgb(8, 3, 141);
        font-size:200%
      }
  </style>
</head>
<body > 
    <h2 >Air signs 🌬</h2>
    <ul style="list-style-type: none ; ">
        <li><a href="/air/Aquarius" > Aquarius ♒︎  </a></li>
        <li><a  href="/air/Gemini" > Gemini ♊︎  </a></li>
        <li><a  href="/air/Libra">Libra ♎︎ </a></li>
    </ul>
    <h2 >Air Traits</h2>
    <ul style="list-style-type: none ;">
        <% AirTraits.forEach((element) =>{%>
         <li><%=element%></li>
        <%})%>
    </ul> 
</body>
</html>