<div style="background-color: rgb(25, 201, 255); max-width: 50rem; margin: 0 auto;">
    <h1 style="text-align: center;">Air Zodiac</h1>
    <div style="text-align: center;">
        <h2>Air Signs</h2>
        <% airSigns.forEach(element => { %>
        <li> <%= element %></li>
        <% }) %>
    </div>
    <div style="text-align: center;">
        <h2>Air Traits</h2>
        <% airTraits.forEach(element => { %>
            <li> <%= element %></li>
        <% }) %>
    </div>
</div>