<h2>Air Signs</h2>
<ul></ul>
<% airSigns.forEach((signs)=>{ %>
    <li><%= signs %></li>
<% }) %>
</ul>

<h2>Air Traits</h2>
<ul></ul>
<% airTraits.forEach((traits)=>{ %>
    <li><%= traits %></li>
<% }) %>
</ul>