<% signs.forEach(sign=>{ %>
    <p>
        <a href="<%= `/air/${sign.toLowerCase()}` %>"><%= sign %></a>
    </p>
    <% }) %>
    <% traits.forEach(trait => { %>
        <p>
            <%= trait %>
        </p>
        <br>
    <% }) %>
    
    