<%- include('/Users/crystalsheeley/Desktop/seir-1114/unit2/Deliverables/zodiac-controllers/views/header.ejs') %>

<h2>Air Signs</h2>

<ul>
    <% airSign.forEach(air => { %>
        <li><%=air%></li>
    <%  }) %>
</ul>