<%- include('partials/header.ejs') %>

<h1>Air Signs:</h1>

<ul>
    <% Signs.forEach(air => { %>
        <li><%= air %></li>
  <%  }) %>
</ul>

<h2>Air abilities: </h2>
<ol>
    <% Abilities.forEach(ability => { %>
      <li><%= ability %></li>
  <%  }) %>
</ol>

<%- include('partials/footer.ejs') %>