<h1>Air Signs</h1>
<ul>
    <% airSigns.forEach(signs => { %>
        <li><%= signs %></li>
    <% }); %>
</ul>

<h1>Air Traits</h1>
<ul>
    <% airTraits.forEach(traits => { %>
    <li><%= traits %></li>
    <% }); %>
</ul>