    <style>
        body{background-color: rgb(69, 69, 255);
             color: white; }
    </style>

  <h2>Air Signs</h2>
  <ul class="links">
    <li><a href='/air/gemini'>Gemini</a></li>
    <li><a href='/air/libra'>Libra</a></li>
    <li><a href='/air/aquarius'>Aquarius</a></li>
  </ul>
  <ul>
    <% airTraits.forEach((air) => { %>
        <li><%=air%> </li>
    <% }) %>

    
  </ul>

