    <style>
        body{background-color: rgb(69, 69, 255);
             color: white; }
    </style>

  <h2>Air Signs</h2>
  <ul>
    <% airTraits.forEach((air) => { %>
        <li><%=air%> </li>
    <% }) %> 
  </ul>

