<h2>Air</h2>
<ul>
    <% airTrait.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
</ul>

<ul>
    <% types.forEach((type)=>{ %>
        <a href="/air/<%= type %>"><li><%= type %></li></a>
    <% }) %>
</ul>