<ul>
    <li>
        <a href="/">Home</a>
    </li>
</ul>


<h3>Aquarius</h3>
<h3>Gemini</h3>
<h3>Libra</h3>


<ul>
    <% airTraits.forEach(trait=> { %>
         <li>
             <%= trait %> 
         </li>
    <% }) %>
 </ul>






