<h3>Air</h3>

<ul>

    <% airTraits.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>
</ul>
<ul>

    <% airSigns.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>
</ul>