<%- include('layout.ejs') %>

<h1>Air</h1>
<h2>Signs:</h1>
<ul>
    <% signs.forEach(e => { %>
        <li>
            <a href ="air/sign"> <%= e %> </a>
        </li>
    <% }); %>
</ul>

<h2>Traits:</h2>
<ul>
    <% traits.forEach(e => { %>
        <li>
            <%= e %> 
        </li>
   <% }) %> 
</ul>