<%- include('./partials/header.ejs')%>
<main class="min-vh-100">
  <!-- Start Carousel -->
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/imgs/gemini.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/imgs/libra.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/imgs/aquarius.png" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Carousel -->
</main>
<%- include('./partials/footer.ejs')%>
