<h3>Air</h3>

<h4>signs</h4>
<ul>
    <% signs.forEach(sign => { %>
     <li>
         <%= sign %>
     </li>
    <% }) %>
</ul>

<h4>traits</h4>
<ul>
   <% airArr.forEach(air=>{ %>
        <li><%=air%></li>
    <% }) %>
</ul>