<!DOCTYPE html>
<html>
    <head>
        <title>Air's Page</title>
    </head>
    <body>
        <h2>This is Air's Page</h2>
        <h3>AQUARIUS,GEMINI,LIBRA</h3>
        <ul>
            <%for(let i =0;i<traits.length;i++){%>
               <li><%= traits[i]%></li>
            <%}%>
        </ul>
    </body>
</html>