<div class="air">
    <h1>Air Signs</h1>
    <ul>
        <% airSigns.forEach(sign => { %>
            <li><a href="/air/<%= sign %>"><%= sign %></a> </li>
        <% }) %>
    </ul>
    <ul>
        <% airTraits.forEach(trait => { %>
            <li> <%= trait %> </li>
        <% }) %>
    </ul>
</div>