<% let arrAirTraits= ['Movement','Creativity','Action','Adventure','Exciting','Easily Provoked'] %> 
<% arrAirTraits.forEach(trait => {%> 
    <li> <%= trait %></li>
    <% }) %> 
    <a href="http://localhost:8000/">Return to Zodiac Controller</a>