<h1>Air 🌬</h1>
<h2>Air Signs</h2>
<ul>
    <% signs.forEach(sign =>{ %>
        <li><%= sign %></li>
    <% }) %>  
</ul>
<h2>Traits of Air Signs</h2>
<ul>
    <% traits.forEach(trait =>{ %>
        <li><%= trait %></li>
    <% }) %>  
</ul>