<h2>Air</h2>
<div>
    <h3>Aquarius | Gemini | Libra</h3>
</div>
<div>
    <h4>Traits include:</h4>
    <ul>
        <% air.forEach(element=>{ %>
            <li><%= element %></li>
        <% }) %>
    </ul>
</div>