<%- include('partials/header.ejs')%>

<h1>Air</h1>
    <img src="images/aquarius.png" alt="aquarius">
    <img src="images/gemini.png" alt="gemini">
    <img src="images/libra.png" alt="libra">
<ul>
    <% traits.forEach((item) => { %>
       <li><%=item%></li>
    <% }) %>
</ul>

<%- include('partials/footer.ejs')%>