<ul>
    <% elementAir.forEach((air)=>{ %>
        <li> <%= air %> </li>
    <% }) %>
</ul>
<!-- <h1>hey whats up</h1> -->
<!-- <ul>
    <li><a href='/airgroup/aquarius'><%=Aquarius%></a></li>
    <li><a href='/airgroup/gemini'><%=Gemini%></a></li>
    <li><a href='/airgroup/libra'><%=Libra%></a></li>
</ul> -->