<%- include('boilerplate/header.ejs')%>
<h1>Air</h1>
<ul>
    <h2>Types: </h2>
    <ul><a href="/controllers/air/aquarius.js">Aquarius</a></ul>
    <ul><a>Gemini</a></ul>
    <ul><a>Libra</a></ul>
</ul>
    <ul> <h2>Qualities:</h2>
        <%airQualities.forEach(function(quality){%>
            <ul><%=quality%></ul>
            <%})%>
        </ul>
    <!-- <ul>movement</ul>
    <ul>creativity</ul>
    <ul>action</ul>
    <ul>adventure</ul>
    <ul>exciting</ul> -->

<%- include('boilerplate/footer.ejs')%>