<h1>Air</h1>
<ul>  
    <li><a href="air/aquarius">Aquarius</a></li>
    <li><a href="air/gemini">Gemini</a></li>
    <li><a href="air/libra">Libra</a></li>
</ul>
<ul>
    <% airTraits.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
</ul>