<h1>Zodiac Signs</h1>

<ul>
    <li><a href='/fire'>Fire</a></li>
    <li><a href='/earth'>Earth</a></li>
    <li><a href='/water'>Water</a></li>
</ul>
<h2>Air Signs</h2>
<ul>
    <% airSigns.forEach(sign => { %>
        <li><%= sign %></li>
    <% }) %>
</ul>
<h2>Air Traits</h2>
<ul>
<% airTraits.forEach(trait => { %>
    <li><%= trait %></li>
<% }) %>
</ul>