<h2>💨AIR💨</h2>

<div id="signs">
    <h3><%=signA1%> | <%=signA2%> | <%=signA3%></h3>
</div>

<div id="traits">
    <h4>Traits:</h4>
    <ul>
        <%airTraitsArr.forEach(function(i){%>
            <li><%=i%></li>
        <%})%>
    </ul>
</div>

<a href="/">go to main</a>