<div id="air">
    <h2>Air Signs</h2>
    <h3>AQUARIUS GEMINI LIBRA</h3> 
    <div>
        <p>Traits of Air Signs: </p>
        <ul>
                <% traits.forEach(trait => { %>
                    <li> <%= trait %> </li>
                <% }) %> 
        </ul>
    </div>
</div>