<h1>air signs</h1>
<h2>the air signs are:</h2>
<ul>
    <% airSigns.forEach((sign) => { %>
        <li><%= sign %></li>

    <% }) %>
</ul>
<h2>these are their traits:</h2>
<ul>
    <% airTraits.forEach((trait) => { %>
        <li><%= trait %></li>

    <% }) %>
</ul>