<% let signs = ['Aquarius', 'Germini', 'Libra'] %>
<% let traits = ['Movement', 'Creativity', 'Action', 'Adventure', 'Exciting', 'Easily Provoked'] %>
<ul>Signs
    <% signs.forEach((sign) =>{ %>
        <li><%= sign %></li>
    <% })%>
</ul>

<ul>Traits
    <% traits.forEach((trait) =>{ %>
        <li><%= trait %></li>
    <% })%>
</ul>