<h2>Air Signs</h2>

<ul>
    <% airSignsKey.forEach(sign=>{ %>
        <a href="/air/<%=sign%>"><li> <%= sign%></li></a>

   <%   }) %>
</ul>



<ul>
    <% airSignsTraitsKey.forEach((airSignsTraits)=>{ %>
        <li> <%= airSignsTraits%></li>

   <%   }) %>
</ul>