<h1>Air</h1>

<h2>Signs</h2>
<ul>
    <% airSigns.forEach((signs) => { %>
        <li><a href = '/air/<%= signs %>'><%= signs %></a></li>
    <% }) %>
</ul>

<h2>Traits</h2>

<ul>
    <% air.forEach((characterisitcs) => { %>
        <li><%= characterisitcs %></li>
    <% }) %>
</ul>