<h1>AIR NATION</h1>
 <h3>SIGNS</h3>
 <a href="/"><h2>Home</h2></a>
<ul>
    <% signs.forEach(sign => { %>
         <li>
             <%= sign %>
         </li>
    <% }) %>
 </ul>

 <H3>TRAITS</H3>
 <ul>
    <% traits.forEach(trait => { %>
         <li>
             <%= trait %>
         </li>
    <% }) %>
 </ul>