<h2>Air</h2>
<div>
    <h3>Aquarius | Gemini | Libra</h3>
</div>
<div>
    <h4>Traits include:</h4>
    <ul>
        <% for(let i = 0; i < air.length; i++){ %>
                <li><%= air[i] %> </li>
        <% } %> 
    </ul>
</div>