<%- include('partials/header.ejs') %>

<h1>
  <a href='/air/aquarius'>Aquarius</a>/<a href='/air/gemini'>Gemini</a>/<a href='/air/libra'>Libra</a>
</h1>

<ul>
  <% traits.forEach(trait => { %>
  <li><%= trait %></li>
  <% }) %>
</ul>

<%- include('partials/footer.ejs') %>
