
<img src="https://askastrology.com/wp-content/uploads/2020/07/aquarius_astrology_sign.jpg" alt="aquarius">

<p>Dates: January 20th – February 18th.</p>
<p>Lucky Day: Saturday </p>
<p>Lucky Numbers: 2, 8, 9, 11, 17, 18, 35</p>
<p>Colors: Aquamarine (primary), additional colors include: violet and turquoise</p>
<p> Birth Stones: Amethyst (primary)</p>

