<!-- <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">
write description for each image as well
-->

<img src="/aquarius.jpeg" alt="aquarius" width="500" height="600">
<p>Dates: January 20th – February 18th.</p>
<p>Lucky Day: Saturday </p>
<p>Lucky Numbers: 2, 8, 9, 11, 17, 18, 35</p>
<p>Colors: Aquamarine (primary), additional colors include: violet and turquoise</p>
<p> Birth Stones: Amethyst (primary)</p>
