<img src="https://askastrology.com/wp-content/uploads/2020/07/aries_astrology_sign.jpg" alt="aries">


<p>Dates: 21 March – 19 April. </p>
<p>Lucky Day: Tuesday</p>
<p>Lucky Numbers: 1, 6, 7, 10, 15, and 25</p>
<p>Colors: Yellow (primary), additional colors include: white and grey</p>
<p>Birth Stones: Diamond (primary)</p>

