<img src="https://askastrology.com/wp-content/uploads/2020/07/cancer_astrology_sign.jpg" alt="cancer">

<p>Dates: June 21st to July 22nd.</p>
<p>Lucky Day: Sunday</p>
<p>Lucky Numbers: 2, 4, 6, 8, 20, and 26</p>
<p>Colors: Blue (primary), additional colors include: cream</p>
<p>Birth Stones: Ruby (primary)</p>