<img src="https://askastrology.com/wp-content/uploads/2020/07/capricorn_astrology_sign.jpg" alt="capricorn">

<p>Dates: December 22nd – January 19th.</p>
<p>Lucky Day: Saturday</p>
<p>Lucky Numbers: 1, 7, 9, 10, 16, 36, 52</p>
<p>Colors: Khaki (primary), additional colors include: grey, black, and dark blue</p>
<p>Birth Stones: Blue Sapphire (primary)</p>

