<% let signs = ['Taurus', 'Virgo', 'Capricorn'] %>
<% let traits = ['Grounded', 'Helpful', 'Practical', 'Realistic', 'Materialistic', 'Dependable'] %>
<ul>Signs
    <% signs.forEach((sign) =>{ %>
        <li><%= sign %></li>
    <% })%>
</ul>

<ul>Traits
    <% traits.forEach((trait) =>{ %>
        <li><%= trait %></li>
    <% })%>
</ul>