<style>
    body{background-color: rgb(201, 242, 139);}
        
</style>

    <h2>Earth Signs</h2>
    <ul class="links">
        <li><a href='/earth/taurus'>Taurus</a></li>
        <li><a href='/earth/virgo'>Virgo</a></li>
        <li><a href='/earth/capricorn'>Capricorn</a></li>
    </ul>

    <ul>
        <% earthTraits.forEach((earth) => { %>
            <li><%=earth%> </li>
        <% }) %> 
      </ul>
