<h3>Earth</h3>

<h4>signs</h4>
<ul>
    <% signs.forEach(sign => { %>
     <li>
         <%= sign %>
     </li>
    <% }) %>
</ul>

<h4>traits</h4>
<ul>
   <% earthArr.forEach(earth=>{ %>
        <li><%=earth%></li>
    <% }) %>
</ul>