<h2>Earth Signs</h2>
<ul></ul>
<% earthSigns.forEach((signs)=>{ %>
    <li><%= signs %></li>
<% }) %>
</ul>

<h2>Earth Traits</h2>
<ul></ul>
<% earthTraits.forEach((traits)=>{ %>
    <li><%= traits %></li>
<% }) %>
</ul>