<div id="earth">
    <h2>Earth Signs</h2>
    <h3>TAURUS VIRGO CAPRICORN</h3> 
    <div>
        <p>Traits of Earth Signs: </p>
        <ul>
                <% traits.forEach(trait => { %>
                    <li> <%= trait %> </li>
                <% }) %> 
        </ul>
    </div>
</div>