

<h2>earth<</h2>
<ul>

    <% fireTrait.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
    
</ul>

<ul>
<% types.forEach((type) =>{ %>
<a href="/earth/<%= type %>"><li><%= type %></li></a>
      <%})%>
</ul>