<h1>Earth Traits</h1>
<ul>
    <%earth.forEach((trait)=>{%>
        <li><%= trait%></li>
        <% })%>
        <li><a href="/earth/capricorn">Capricorn</a></li>
        <li><a href="/earth/taurus">Taurus</a></li>
        <li><a href="/earth/virgo">Virgo</a></li>
</ul>
