<%- include('partials/header.ejs') %>

<h1>
  <a href='/air/taurus'>Taurus</a>/<a href='/air/virgo'>Virgo</a>/<a href='/air/capricorn'>Capricorn</a></h1>
</h1>

<ul>
  <% traits.forEach(trait => { %>
  <li><%= trait %></li>
  <% }) %>
</ul>

<%- include('partials/footer.ejs') %>