<ul>
    <li>
        <a href="/">Home</a>
    </li>
</ul>

<h3>Taurus</h3>
<h3>Virgo</h3>
<h3>Capricorn</h3>

<ul>
    <% earthTraits.forEach(trait=> { %>
         <li>
             <%= trait %> 
         </li>
    <% }) %>
 </ul>

