<% let arrEarthTraits= ['grounded','helpful','practical','realistic','materialistic','dependable'] %> 
<% arrEarthTraits.forEach(trait => {%> 
    <li> <%= trait %></li>
    <% }) %> 
    <a href="http://localhost:8000/">Return to Zodiac Controller</a>