<h2>Earth</h2>
<div>
    <h3>Taurus | Virgo | Capricorn</h3>
</div>
<div>
    <h4>Traits include:</h4>
    <ul>
       
        <% earth.forEach(element=>{ %>
            <li><%= element %></li>
        <% }) %>
    </ul>
</div>