<style>
    body{background-color: rgb(201, 242, 139);}
        
</style>

    <h2>Earth Signs</h2>
    <ul>
        <% earthTraits.forEach((earth) => { %>
            <li><%=earth%> </li>
        <% }) %> 
      </ul>
