<h2>🪨EARTH🪨</h2>

<div id="signs">
    <h3><%=signE1%> | <%=signE2%> | <%=signE3%></h3>
</div>

<div id="traits">
    <h4>Traits:</h4>
    <ul>
        <%earthTraitsArr.forEach(function(i){%>
            <li><%=i%></li>
        <%})%>
    </ul>
</div>
<a href="/">go to main</a>