<div class="earth">
    <h1>Earth Signs</h1>
    <ul>
        <% earthSigns.forEach(sign => { %>
            <li class="list"><a href="/earth/<%= sign %>"><%= sign %></a></li>
        <% }) %>
    </ul>
    <ul>
        <% earthTraits.forEach(trait => { %>
            <li class="list"> <%= trait %> </li>
        <% }) %>
    </ul>
</div>