<h2>Earth</h2>
<div>
    <h3>Taurus | Virgo | Capricorn</h3>
</div>
<div>
    <h4>Traits include:</h4>
    <ul>
        <% for(let i = 0; i < earth.length; i++){ %>
                <li><%= earth[i] %> </li>
        <% } %> 
    </ul>
</div>