<!-- single legged squid embeds one template in another -->
<%- include('partials/header.ejs') -%>
<!-- main content -->
<h1>Earth Signs</h1>
<p>Taurus</p>
<p>Virgo</p>
<p>Capricorn</p>
<ul>
  <li>Grounded</li>
  <li>Helpful</li>
  <li>Practical</li>
  <li>Realistic</li>
  <li>Materialistic</li>
  <li>Dependable</li>
</ul>
<%- include('partials/footer.ejs') -%>
