<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EARTH SIGNS</title>
</head>
<body>
    <h1>EARTH SIGNS</h1>
    <ul>
        <% earthTypes.forEach((type) => { %>
          <li><%= type %></li>
        <% }) %>
      </ul>
<ul>
    <% earthSigns.forEach((sign) => { %>
      <li><%= sign %></li>
    <% }) %>
  </ul>
</body>
</html>