<%- include('/Users/crystalsheeley/Desktop/seir-1114/unit2/Deliverables/zodiac-controllers/views/header.ejs') %>

<h2>Earth Signs</h2>

<ul>
    <% earthSign.forEach(earth => { %>
        <li><%=earth%></li>
    <%  }) %>
</ul>