<h2 style="color: rgb(155, 102, 22)">Earth signs</h2>

<ul>
  <%earthTraits[0].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
<h2 style="color: rgb(155, 102, 22)">Traits</h2>
<ul>
  <%earthTraits[1].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
