<h2>EARTH</h2>

<h3>signs</h3>
<ul>
    <% earth.forEach(earth => { %>
        <!-- this oone needs wqual sign because want it to be showed up -->
        <li><%= earth %></li>
    <% }) %>
</ul>

<h4>traits</h4>
<ol>
    <% traits.forEach(traits => { %>
        <!-- this oone needs wqual sign because want it to be showed up -->
        <li><%= traits %></li>
    
    <% }) %>
</ol>
