<!DOCTYPE html>
<html>
    <head>
        <title>Earth's Page</title>
    </head>
    <body>
        <h2>This is Earth's Page</h2>
        <h3>TAURUS,VIRGO,CAPRICORN</h3>
        <ul>
            <%for(let i =0;i<traits.length;i++){%>
               <li><%= traits[i]%></li>
            <%}%>
        </ul>
    </body>
</html>