<%- include('partials/header.ejs') %>

<h1>Earth Signs:</h1>

<ul>
    <% Signs.forEach(earth => { %>
        <li><%= earth %></li>
  <%  }) %>
</ul>

<h2>Earth abilities: </h2>
<ol>
    <% Abilities.forEach(ability => { %>
      <li><%= ability %></li>
  <%  }) %>
</ol>

<%- include('partials/footer.ejs') %>