<h1>Earth Signs</h1>

<ul>
    <% earthSigns.forEach((signs) => { %>
        <li><a href="/earth/<%= signs %>"><%= signs %></a></li>
    <% }) %>
</ul>

<h2>Traits</h2>

<ul>
    <% earth.forEach((characterisitcs) => { %>
        <li><%= characterisitcs %></li>
    <% }) %>
</ul>