<h1>earth signs</h1>
<h2>the earth signs are:</h2>
<ul>
    <% earthSigns.forEach((sign) => { %>
        <li><%= sign %></li>

    <% }) %>
</ul>
<h2>these are their traits:</h2>
<ul>
    <% earthTraits.forEach((trait) => { %>
        <li><%= trait %></li>

    <% }) %>
</ul>