<h1>Earth</h1>

<h2>Signs</h2>
<ul>
    <li><a href = '/earth/capricorn'>Capricorn</a></li>
    <li><a href = '/earth/tarus'>Tarus</a></li>
    <li><a href = '/earth/virgo'>Virgo</a></li>
</ul>

<!-- <ul>
    <% earthSigns.forEach((signs) => { %>
        <li><%= signs %></li>
    <% }) %>
</ul> -->

<h2>Traits</h2>

<ul>
    <% earth.forEach((characterisitcs) => { %>
        <li><%= characterisitcs %></li>
    <% }) %>
</ul>