<h1>Earth</h1>

<ul>
    <li><a href="earth/capricorn">Capricorn</a></li>
    <li><a href="earth/virgo">Virgo</a></li>
    <li><a href="earth/taurus">Taurus</a></li>
</ul>

<ul>
    <% earthTraits.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
</ul>