<%- include('boilerplate/header.ejs')%>
<h1>Earth</h1>
<ul>
    <h2>Types: </h2>
    <ul><a>Taurus</a></ul>
    <ul><a>Virgo</a></ul>
    <ul><a>Capricorn</a></ul>

</ul>

    <ul> <h2>Qualities:</h2>
        <%earthQualities.forEach(function(quality){%>
            <ul><%=quality%></ul>
            <%})%>
        </ul>
    <!-- <ul>grounded</ul>
    <ul>helpful</ul>
    <ul>practical</ul>
    <ul>realistic</ul>
    <ul>materialistic</ul>
    <ul>dependable</ul> -->

<%- include('boilerplate/footer.ejs')%>