<!-- <ul>
    <li><a href='/earthgroup/capricorn'>Capricorn</a></li>
    <li><a href='/earthgroup/taurus'></a>Taurus</li>
    <li><a href='/earthgroup/virgo'>Virgo</a></li>
</ul> -->

<ul>
    <% elementEarth.forEach((earth)=>{ %>
        <li> <%= earth %> </li>
    <% }) %>
</ul>