<div style="background-color: rgb(3, 121, 9); color: white; max-width: 50rem; margin: 0 auto;">
    <h1 style="text-align: center;">Earth Zodiac</h1>
    <div style="text-align: center;">
        <h2>Earth Signs</h2>
        <% earthSigns.forEach(element => { %>
        <li> <%= element %></li>
        <% }) %>
    </div>
    <div style="text-align: center;">
        <h2>Earth Traits</h2>
        <% earthTraits.forEach(element => { %>
            <li> <%= element %></li>
        <% }) %>
    </div>
</div>