<h5>Earth</h5>

<ul>
    <% earthTraits.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>
</ul>

<ul>
    <% earthSigns.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>
</ul>