<header><h1>Earth</h1></header>

<h2>Signs</h2>
<ul>
  <% earthSigns.forEach(sign => { %>
  <h3><%= sign %></h3>
  <% }) %>
</ul>

<h2>Traits</h2>
<ul>
  <% earthTraits.forEach(trait => { %>
  <h3><%= trait %></h3>
  <% }) %>
</ul>
