<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth Element</title>
</head>
<body>
    <h1>Earth Element</h1>
    <h3>Zodiac Signs</h3>
    <ul>
        <li>Taurus</li>
        <li>Virgo</li>
        <li>Capricorn</li>
    </ul>
</body>
</html>