<h2>The signs</h2>
<ul>
    <% signs.forEach(sign=>{%>
        <li><%= sign%></li>
    <%})%>

</ul>
<ul>
<h2>The Trait</h2>
    <% traits.forEach(trait=>{%>
        <li><%= trait%></li>
    <%})%>
</ul>