<div id="<%= element %>">
    <h2><%= element %></h2>
    <h3><%= signs %> </h3> 
    <div>
        <p>Traits: </p>
        <ul>
                <% traits.forEach(trait => { %>
                    <li> <%= trait %> </li>
                <% }) %> 
        </ul>
    </div>
</div>