<h2>The signs</h2>
<ul>
    <% signs.forEach(sign => { %>
        <li><%= sign %></li>
    <% }) %>
</ul>

<h2>The traits</h2>
<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>