<div class="fire">
    <h1>Fire Signs</h1>
    <ul>
        <% fireSigns.forEach(sign => { %>
            <li> <%= sign %> </li>
        <% }) %>
    </ul>
    <ul>
        <% fireTraits.forEach(trait => { %>
            <li> <%= trait %> </li>
        <% }) %>
    </ul>
</div>