<h4>Fire</h4>
<ul>

    <% fireTraits.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>

</ul>
<ul>

    <% fireSigns.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>

</ul>