<h2>Fire</h2>
<div>
    <h3>Aries | Leo | Sagittarius</h3>
</div>
<div>
    <h4>Traits include:</h4>
    <ul>
        <% for(let i = 0; i < fire.length; i++){ %>
                <li><%= fire[i] %> </li>
        <% } %> 
    </ul>
</div>