<ul>
  <% arrSigns.forEach(sign => { %>
    <li><a href="/fire/<%= sign %>"><%= sign %></a></li>
  <% }) %>
</ul>
<br>
<ul>
  <% arrTraits.forEach(trait => { %>
    <li><%= trait %></li>
  <% }) %>
</ul>