<ul>
    <li>
        <a href="/">Home</a>
    </li>
</ul>

<h3>Aries</h3>
<h3>Leo</h3>
<h3>Sagittarius</h3>



<ul>
    <% fireTraits.forEach(trait=> { %>
         <li>
             <%= trait %> 
         </li>
    <% }) %>
 </ul>
