<h1>Fire</h1>

<ul>
    <li><a href="fire/aries">Aries</a></li>
    <li><a href="fire/sagittarius">Sagittarius</a></li>
    <li><a href="fire/leo">Leo</a></li>
</ul>

<ul>
    <% fireTraits.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
</ul>