<div id="fire">
    <h2>Fire Signs</h2>
    <h3>ARIES LEO SAGITTARIUS</h3> 
    <div>
        <p>Traits of Water Signs: </p>
        <ul>
                <% traits.forEach(trait => { %>
                    <li> <%= trait %> </li>
                <% }) %> 
        </ul>
    </div>
</div>