<!-- single legged squid embeds one template in another -->
<%- include('partials/header.ejs') -%>
<!-- main content -->
<h1>Fire Signs</h1>
<p>Aries</p>
<p>Leo</p>
<p>Sagitarius</p>
<ul>
  <li>Passionate</li>
  <li>Strong Emotions</li>
  <li>Temperamental</li>
  <li>Energetic</li>
  <li>Accomplished</li>
  <li>Interesting</li>
</ul>
<%- include('partials/footer.ejs') -%>
