<div style="background-color: rgb(219, 67, 29); color: white; max-width: 50rem; margin: 0 auto;">
    <h1 style="text-align: center;">Fire Zodiac</h1>
    <div style="text-align: center;">
        <h2>Fire Signs</h2>
        <% fireSigns.forEach(element => { %>
        <li> <%= element %></li>
        <% }) %>
    </div>
    <div style="text-align: center;">
        <h2>Fire Traits</h2>
        <% fireTraits.forEach(element => { %>
            <li> <%= element %></li>
        <% }) %>
    </div>
</div>