<h1>Fire Traits</h1>
<ul>
    <%fire.forEach((trait)=>{%>
        <li><%= trait%></li>
        <% })%>
        <li><a href="/fire/aries">Aries</a></li>
        <li><a href="/fire/leo">Leo</a></li>
        <li><a href="/fire/sagittarius">Sagittarius</a></li>
</ul>