<%- include('partials/header.ejs') %>

<h1>List of fire signs and relevant traits</h1>

<ul>
  <% signs.forEach(sign => { %>
    <li><a href><%= sign %></a href> </li> 
  <% }) %>
</ul>

<ul>
    <% traits.forEach(trait => { %>
      <li><%= trait %></li>  
    <% }) %>
</ul>

<%- include('partials/footer.ejs') %>