<h3>Fire</h3>

<h4>signs</h4>
<ul>
    <% signs.forEach(sign => { %>
     <li>
         <%= sign %>
     </li>
    <% }) %>
</ul>

<h4>traits</h4>
<ul>
   <% fireArr.forEach(fire=>{ %>
        <li><%=fire%></li>
    <% }) %>
</ul>