<h1>Fire Signs</h1>
<ul>
    <% fireSigns.forEach(signs => { %>
        <li><%= signs %></li>
    <% }); %>
</ul>

<h1>Fire Traits</h1>
<ul>
    <% fireTraits.forEach(traits => { %>
    <li><%= traits %></li>
    <% }); %>
</ul>