<%- include('partials/header.ejs') %>

<h1>Fire Signs:</h1>

<ul>
    <% Signs.forEach(fire => { %>
        <li><%= fire %></li>
  <%  }) %>
</ul>

<h2>Fire abilities: </h2>
<ol>
    <% Abilities.forEach(ability => { %>
      <li><%= ability %></li>
  <%  }) %>
</ol>


<%- include('partials/footer.ejs') %>