<h2>Fire Signs</h2>
<ul></ul>
<% fireSigns.forEach((signs)=>{ %>
    <li><%= signs %></li>
<% }) %>
</ul>

<h2>Fire Traits</h2>
<ul></ul>
<% fireTraits.forEach((traits)=>{ %>
    <li><%= traits %></li>
<% }) %>
</ul>