<h1>Zodiac Signs</h1>
<ul>
    <li><a href='/air'>Air</a></li>
    <li><a href='/earth'>Earth</a></li>
    <li><a href='/water'>Water</a></li>
</ul>
<h2>Fire Signs</h2>
<ul>
    <% fireSigns.forEach(sign => { %>
        <li><%= sign %></li>
    <% }) %>
</ul>
<h2>Fire Traits</h2>
<ul>
<% fireTraits.forEach(trait => { %>
    <li><%= trait %></li>
<% }) %>
</ul>