<h2 style="color: rgb(228, 28, 28)">Fire signs</h2>

<ul>
  <%fireTraits[0].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
<h2 style="color: rgb(228, 28, 28)">Traits</h2>
<ul>
  <%fireTraits[1].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
