<%- include('boilerplate/header.ejs')%>
<h1>Fire</h1>
<ul>
    <h2>Types:</h2>
    <ul><a>Aries</a></ul>
    <ul><a>Leo<L/a></ul>
    <ul><a>Sagittarius</a></ul>
</ul>
    <ul> <h2>Qualities:</h2>
        <%fireQualities.forEach(function(quality){%>
            <ul><%=quality%></ul>
            <%})%>
        </ul>
    <!-- <ul>passionate</ul>
    <ul>strong emotions</ul>
    <ul>temperamental</ul>
    <ul>energetic</ul>
    <ul>accomplished</ul>
    <ul>interesting</ul> -->

<%- include('boilerplate/footer.ejs')%>