<%- include("partials/header.ejs") %>

<h1>Fire Signs</h1>
<ul class="signs">
    <% signs.forEach((sign) => { %>
       <li> <%= sign %> </li>
    <% }) %>
</ul>
<ul>
    <% traits.forEach((trait) => { %>
       <li> <%= trait %> </li>
    <% }) %>
</ul>

<%- include("partials/footer.ejs") %>