<% signs.forEach(sign=>{ %>
    <p>
        <a href="<%= `/fire/${sign.toLowerCase()}` %>"><%= sign %></a>
    </p>
<% }) %>
<% traits.forEach(trait => { %>
    <p>
        <%= trait %>
    </p>
    <br>
<% }) %>


