<% let signs = ['Aries', 'Leo', 'Sagittarius'] %>
<% let traits = ['Passionate', 'Strong Emotions', 'Temperamental', 'Energetic', 'Accomplished', 'Interesting'] %>
<ul>Signs
    <% signs.forEach((sign) =>{ %>
        <li><%= sign %></li>
    <% })%>
</ul>

<ul>Traits
    <% traits.forEach((trait) =>{ %>
        <li><%= trait %></li>
    <% })%>
</ul>