<%- include('partials/header.ejs') %>

<h1>
  <a href='/air/aries'>Aries</a>/<a href='/air/leo'>Leo</a>/<a href='/air/sagittarius'>Sagittarius</a></h1>
</h1>

<ul>
  <% traits.forEach(trait => { %>
  <li><%= trait %></li>
  <% }) %>
</ul>

<%- include('partials/footer.ejs') %>
