<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./style.css" />
    <title>Document</title>
</head>
<body>
    <h1>FIRE</h1>
    <h2>Aries <br>Leo <br>Sagittarius</h2>
    <ul>
        <% .forEach( => {%>
            <li><%= %></li>
        <%})%>
    </ul>
</body>
</html>
<style>
    h1,h2{
        text-align: center;
        text-decoration: double;
        font-size: 50px;
    }
    h1{
        text-decoration: underline;
    }
</style>