<%- include('./partials/header.ejs') %>

<h2>FIRE SIGNS</h2>

<% fireSigns.forEach( (signs) => { %>
   <li> <%= signs %> </li>
<% }) %>

<h2> TRAITS </h2>
<% fire.forEach( (traits) => { %>
   <li> <%= traits %> </li>
<% }) %>

<%- include('./partials/footer.ejs') %>