<h2>🔥FIRE🔥</h2>

<div id="signs">
    <h3><%=signF1%> | <%=signF2%> | <%=signF3%></h3>
</div>

<div id="traits">
    <h4>Traits:</h4>
    <ul>
        <%fireTraitsArr.forEach(function(i){%>
            <li><%=i%></li>
        <%})%>
    </ul>
</div>
<a href="/">go to main</a>