<h2>Fire Signs</h2>

<ul>
    <% fireSignsKey.forEach(sign=>{ %>
        <a href="/fire/<%=sign%>"><li> <%= sign%></li></a>

   <%   }) %>
</ul>



<ul>
    <% fireSignsTraitsKey.forEach((fireSignTraits)=>{ %>
        <li> <%= fireSignTraits%></li>

   <%   }) %>
</ul>