     <style>
        body{background-color: red;
            color: white;}
    </style>

    <h2>Fire Signs</h2>
    <ul class="links">
        <li><a href='/fire/leo'>Leo</a></li>
        <li><a href='/fire/aries'>Aries</a></li>
        <li><a href='/fire/sagittarius'>Sagittarius</a></li>
    </ul>

    <ul>
        <% fireTraits.forEach((fire) => { %>
            <li><%=fire%> </li>
        <% }) %> 
      </ul>