<ul>
    <% traits.forEach(t => { %>
        <div>
            <li> <%= t %> </li>
        </div>
        <% }) %>
</ul>
<ul>
    <% signs.forEach(t => { %>
        <div>
            <li> <%= t %> </li>
        </div>
        <% }) %>
</ul>
