<!-- <ul>
    <li><a href='/firegroup/aries'>Aries</a></li>
    <li><a href='/firegroup/leo'></a>Leo</li>
    <li><a href='/firegroup/sagittarius'>Sagittarius</a></li>
</ul> -->
<ul>
    <% elementFire.forEach((fire)=>{ %>
        <li> <%= fire %> </li>
    <% }) %>
</ul>