<h2 style="text-align: center;color: darkseagreen;display: flex;justify-content: center;"> Zodiac Controller <br> 
    Let's learn about the signs! </h2>

    <img src="./public/images/zodiac signs.jpeg" style="
    
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height:400px;
    ">
