<h2 style="text-align: center;color: darkseagreen;display: flex;justify-content: center;"> Zodiac Controller <br> 
    Let's learn about the signs! </h2>

    <img class="homepageImage" src="./public/images/zodiac signs.jpeg">
