<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./style.css" />
    <title>Document</title>
</head>
<body>
    <h1>The Signs</h1>
    <div>
        <a href="http://localhost:8000/air"style="font-size: 100px; color:rgba(7, 176, 248, 0.308)">Air</a><br>
        <a href="http://localhost:8000/water"style="font-size: 100px; color:rgb(71, 71, 199)">Water</a><br>
        <a href="http://localhost:8000/fire"style="font-size: 100px; color:rgb(124, 34, 34)">Fire</a><br>
        <a href="http://localhost:8000/earth"style="font-size: 100px; color:rgb(2, 92, 2);">Earth</a>
    </div>
</body>
</html>

<style>
    
    body{
        background-color: black;
    }
    h1{
        text-align: center;
        text-decoration: underline;
    }
        div{
        text-align: center;
    }
</style>