<h1>Zodiac Signs, and stuff about them!!</h1>

<ul>
    <li><a href = '/fire'>Fire</a></li>
    <li><a href = '/earth'>Earth</a></li>
    <li><a href = '/water'>Water</a></li>
    <li><a href = '/air'>Air</a></li>
</ul> 