<p>Click the links below for a visual representation of each Zodiac sign.</p>
<ul>
    <h3>Air</h3>
    <li><a href="/air/aquarius">Aquarius</a></li>
    <li><a href="/air/gemini">Gemini</a></li>
    <li><a href="/air/libra">Libra</a></li>
    <h3>Earth</h3>
    <li><a href="/earth/capricorn">Capricorn</a></li>
    <li><a href="/earth/taurus">Taurus</a></li>
    <li><a href="/earth/virgo">Virgo</a></li>
    <h3>Fire</h3>
    <li><a href="/fire/aries">Aries</a></li>
    <li><a href="/fire/leo">Leo</a></li>
    <li><a href="/fire/sagittarius">Sagittarius</a></li>
    <h3>Water</h3>
    <li><a href="/water/cancer">Cancer</a></li>
    <li><a href="/water/scorpio">Scorpio</a></li>
    <li><a href="/water/pisces">Pisces</a></li>
</ul>