<h2> let's learn about the signs</h2>

<a href='http://localhost:3300/air'>air</a>
<a href='http://localhost:3300/earth'>earth</a>
<a href='http://localhost:3300/water'>water</a>
<a href='http://localhost:3300/fire'>fire</a>
