<h1>Let's Learn about the signs!"</h1>
<a href="http://localhost:2002/water">water</a>
<a href="http://localhost:2002/air">air</a>
<a href="http://localhost:2002/fire">fire</a>
<a href="http://localhost:2002/earth">earth</a>
