<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div id="container">
            <div id="air" class="col" >
                <h1><a href="./air">Air Signs</a></h1>
            </div>
            <div id="fire" class="col">
                <h1><a href="./fire">Fire Signs</a></h1>
            </div>
            <div id="earth" class="col">
                <h1><a href="./earth">Earth Signs</a></h1>
            </div>
            <div id="water" class="col">
                <h1><a href="./water">Water Signs</a></h1>
            </div>
        </div>
        
    </body>

</html>