<%- include ("partials/header.ejs") %>

<p>Let's learn about the signs!</p>
<ul>
  <li><a href="air">air signs</a></li>
  <li><a href="water">water signs</a></li>
  <li><a href="fire">fire signs</a></li>
  <li><a href="earth">earth signs</a></li>
</ul>
<%- include("partials/footer.ejs") %>
