<h2>Let's learn more about the signs</h2>

<a href="http://localhost:3000/water">water</a>
<a href="http://localhost:3000/air">air</a>
<a href="http://localhost:3000/fire">fire</a>
<a href="http://localhost:3000/earth">earth</a>