<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zodiac Controllers</title>
    </head>
    <body>
        <h1>Let's learn about the signs!</h1>
        <a href="/water">/water</a><br><br>
        <a href="/earth">/earth</a><br><br>
        <a href="/fire">/fire</a><br><br>
        <a href="/air">/air</a><br><br>
    </body>
</html>