
     <h1>Let's learn about the signs!<h1>
        <ul>
        <li><a href="/fire">Fire Sign!</a></li>
         <li><a href="/air">Air Sign!</a> </li>
         <li> <a href="/earth">Earth Sign!</a> </li>
          <li> <a href="/water">Water Sign!</a> </li>
           </ul>
