<h1>Let's learn about the signs!</h1>
<a href="http://localhost:8003/air">AIR</a>
<a href="http://localhost:8003/water">WATER</a>
<a href="http://localhost:8003/earth">EARTH</a>
<a href="http://localhost:8003/fire">FIRE</a>
