<ul>
    <li><a href='/water'>Favorite Foods</a></li>
    <li><a href='/air'>Favorite Animals</a></li>
    <li><a href='/fire'>Least Favorite Movies</a></li>
    <li><a href='/earth'>Least Favorite Foods</a></li>
</ul>