<!DOCTYPE html>
<html>
    <head>
        <title>Zodiac Controllers</title>
    </head>
    <body>
        <header>
            <h1>Zodiac Controller</h1>
        </header>
        <h2>Let's learn about the signs!</h2>
    </body>
</html>