<h1>LeT uS LEaRn AboUt THe SiGnS👁👅👁</h1>

<ul>
<li><a href="/air">AiR🌪🌬😮‍💨</a></li>
<li><a href="/water">WaTeR💦🛁🧊</a></li>
<li><a href="/fire">FiRe 💥🪵🔥</a></li>
<li><a href="/earth">EaRtH🍄🌝🌎</a></li>
</ul>
