<h2>Home Page</h2>

<h3>Let's learn about the signs!</h3>
<ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/water">Water Sign</a></li>
    <li><a href="/air">Air Sign</a></li>
    <li><a href="/fire">Fire Sign</a></li>
    <li><a href="/earth">Earth Sign</a></li>
</ul>