<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
<h1>Let's learn about the signs!</h1>
    <% links.forEach(link => { %>
        <h2>

            <a href="http://localhost:3000/<%= link %> "><%= link %> Link</a><br>

        </h2>
    <% }) %>
</body>
</html>