<h1>Let's learn about the signs!</h1>

<a href="http://localhost:8000/water">Water</a>
<a href="http://localhost:8000/air">Air</a>
<a href="http://localhost:8000/fire">Fire</a>
<a href="http://localhost:8000/earth">Earth</a>