<h2 style="text-align: center;">Let's learn about the signs!</h2>

<div style="text-align: center; padding-top: 2rem;">
    <a href='/water'>Water Zodiac</a><br/>
    <a href='/fire'>Fire Zodiac</a><br/>
    <a href='/air'>Air Zodiac</a><br/>
    <a href='/earth'>Earth Zodiac</a><br/>
</div>