<%- include("partials/header") %>

<h1>Zodiac Controllers Deliverable</h1>
<a href="/air">AIR</a>
<a href="/fire">FIRE</a>
<a href="/water">WATER</a>
<a href="/earth">EARTH</a>


<%- include("partials/footer") %> 