<h2>Let's learn about the signs</h2>

<nav>
  <ul>
    <li><a class="nav-link" href="/water">Water</a></li>
    <li><a class="nav-link" href="/air">Air</a></li>
    <li><a class="nav-link" href="/fire">Fire</a></li>
    <li><a class="nav-link" href="/earth">Earth</a></li>
  </ul>
</nav>
