<h1>LET'S LEARN ABOUT THE SIGNS!</h1>

<ul>
    <li><a href='/water'>Water Signs</a></li>
    <li><a href='/earth'>Earth Signs</a></li>
    <li><a href='/fire'>Fire Signs</a></li>
    <li><a href='/air'>Air Signs</a></li>
  </ul>