<h1>Let's learn about the Signs</h1>
<ul>
  <li><a href="/air">Air Signs</a></li>
  <li><a href="/earth">Earth Signs</a></li>
  <li><a href="/fire">Fire Signs</a></li>
  <li><a href="/water">Water Signs</a></li>
</ul>
