<%- include ('../views/layout.ejs') %>
<title>Home</title>

<h1>Let's learn about the signs!</h1>


<ul><a id='wLink' style='color:white' href="/water">Click Here to learn about Water's Traits</a></ul>
<ul><a id="aLink" style='color:white' href="/air">Click Here to learn about Air's Traits</a></ul>
<ul><a id="fLink" style='color:white' href="/fire">Click Here to learn about Fire's Traits</a></ul>
<ul><a id="eLink" style='color:white' href="/earth">Click Here to learn about Earth's Traits</a></ul> 

