<h2>Let's learn about the signs</h2>
<ul>
    <li>
        <a href="/earth">EARTH🪨</a>
    </li>

    <li>
        <a href="/fire">FIRE🔥</a>
    </li>

    <li>
        <a href="/water">WATER💧</a>
    </li>

    <li>
        <a href="/air">AIR💨</a>
    </li>
</ul>