<%- include('partials/header.ejs') %>

<h1>Let's learn about the signs!</h1>
<img src="zodiac.jpeg">
<ul>
    <li><a href="water">Water Zodiacs</a></li>
    <li><a href="air">Air Zodiacs</a></li>
    <li><a href="fire">Fire Zodiacs</a></li>
    <li><a href="earth">Earth Zodiacs</a></li>
    

<%- include('partials/footer.ejs') %>  