<h1>Let's Learn about the signs!"</h1>
<ul>
    <li>
        <a href="http://localhost:2002/water">water</a>
    </li>
    <li>
        <a href="http://localhost:2002/air">air</a>
    </li>    
    <li>
        <a href="http://localhost:2002/fire">fire</a>
    </li>   
    <li>
        <a href="http://localhost:2002/earth">earth</a>
    </li>
</ul>

