<h2 class="heading">Let's learn about the signs</h2>

<nav>
  <ul>
    <li><a class="nav-link shadow-small" href="/water">Water</a></li>
    <li><a class="nav-link shadow-small" href="/air">Air</a></li>
    <li><a class="nav-link shadow-small" href="/fire">Fire</a></li>
    <li><a class="nav-link shadow-small" href="/earth">Earth</a></li>
  </ul>
</nav>
