<h2>Let's learn about the signs</h2>

<div>
    <p><a href="/air.ejs">Air</a></p>
    <p><a href="/water.ejs">Water</a></p>
    <p><a href="/fire.ejs">Fire</a></p>
    <p><a href="/earth.ejs">Earth</a></p>
</div>