<%- include('partials/header.ejs') %>
<h1>Lets learn about the signs!</h1>
<a href="/air">AIR</a>
<a href="/water">WATER</a>
<a href="/fire">FIRE</a>
<a href="/earth">EARTH</a>


<%- include('partials/footer.ejs') %>