<h2>Astrological Signs</h2>
<blockquote>
  In Western astrology, astrological signs are the twelve 30 degree sectors that
  make up Earth's 360 degree orbit around the Sun. The signs enumerate from the
  first day of spring known as the First Point of Aries which is the vernal
  equinox. The Western astrological signs are Aries, Taurus, Gemini, Cancer,
  Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius and Pisces. The
  Western zodiac originated in Babylonian astrology, and was later influenced by
  Hellenistic culture. Each sign was named after a constellation the sun
  annually moved through while crossing the sky. This observation is emphasized
  in the simplified and popular sun sign astrology. Over the centuries, Western
  astrology's zodiacal divisions have shifted out of alignment with the
  constellations they were named after by axial precession[1] while Hindu
  astrology measurements correct for shifting.[2]Astrology has developed in
  Chinese and Tibetan cultures as well.
</blockquote>
<blockquote>
  Astrology is a pseudoscience.[3] Scientific investigations of the
  theoretical[4] basis and experimental verification of claims[5] have shown it
  to have no scientific validity or explanatory power.
</blockquote>
<blockquote>
  According to astrology, celestial phenomena relate to human activity on the
  principle of "as above, so below", so that the signs are held to represent
  characteristic modes of expression.[6] Modern discoveries about the nature of
  celestial objects have undermined the theoretical basis for assigning meaning
  to astrological signs, and empirical scientific investigation has shown that
  predictions and recommendations based on these systems are not
  accurate.[7]: 85,  [8]: 424  Scientific astronomy used the same sectors of the
  ecliptic as Western astrology until the 19th century.
</blockquote>
<blockquote>
  Various approaches to measuring and dividing the sky are currently used by
  differing systems of astrology, although the tradition of the Zodiac's names
  and symbols remain mostly consistent. Western astrology measures from Equinox
  and Solstice points (points relating to equal, longest, and shortest days of
  the tropical year), while Hindu astrology measures along the equatorial plane
  (sidereal year).
</blockquote>
<blockquote>Source: Wikipedia</blockquote>
