<div class="index">
    <h1>Let's learn about the signs!</h1>
    <a href="./air">Air Sign Traits</a>
    <a href="./earth">Earth Sign Traits</a>
    <a href="./water">Water Sign Traits</a>
    <a href="./fire">Fire Sign Traits</a>
</div>