<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Vibes</title>
</head>
<body>
    <h1>Zodiac Controller</h1>
    <%- body %>
    <!-- <h2>The Elements:</h2>
    <ul>
        <li><a href="/air">Air</a></li>
        <li><a href="/water">Water</a></li>
        <li><a href="/fire">Fire</a></li>
        <li><a href="/earth">Earth</a></li>
    </ul>
    <p><a href="/">Return to Home Page</a></p> -->
</body>
</html>