<!DOCTYPE html>
<html>
    <head>
        <title>Zodiac Controller</title>
    </head>
    <body>
        <nav><a href="./">Home</a></nav>
        <h1>Zodiac Controller</h1>
        
        
    </body>

</html>