<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Zodiac</title>
  <link rel='stylesheet' href='/style.css'>
</head>

<body>
  <main>
  <h1>Zodiac Controller</h1>

  <h2>Let's learn about the signs!</h2>

  <div id='elemList'>
    <a href=/air/air>Air</a> - <a href=/earth/earth>Earth</a> - <a href=/fire/fire>Fire</a> - <a href=/water/water>Water</a>
  </div>
  

    <%- body %> 
  </main>
</body>
</html>