<!DOCTYPE html>
<html>
<head>
    <title>Zodiac Controller</title>
    <link rel="stylesheet" href="./css/styles.css"/>
</head>
<body>
    <header>Zodiac Controller</header>
    <%- body %> 
    <script src="./js/script.js"></script>
</body>
</html>