<!DOCTYPE html>
<html>
    <head>
        <title>Zodiac Controller</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <%- include("./header.ejs") %>
        <%- body%>
        <script src="./js/script.js"></script>
    </body>
</html> 