<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Controllers</title>
    <style>
        a:link {
       text-decoration: none;
      
       }

       a:visited {
       text-decoration: none;
       }   
       
      a.one:hover {
        color: rgb(148, 214, 234);
        font-size:200%
      }

      a.two:hover {
        color: rgb(12, 52, 232);
        font-size:200%
      }
      a.three:hover {
        color: rgba(163, 11, 0.805);
        font-size:200%
      }
      a.four:hover {
        color: rgb(14, 162, 81);;
        font-size:200%
      }
     
    
    </style>
</head>
<body>
    <header style="text-align:center;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; border-bottom: 5px solid black;">
        <h1> Zodiac Controllers</h1>
    </header>
    
    <ul style="list-style-type: none ;">
        <li><a class="one" href="/" >HOME </a>  </li>
        <li><a class="one" href="/air"  > Air signs 🌬  </a>  </li>
        <li><a class="two" href="/water" >Water signs 🌊  </a>  </li>
        <li><a class="three" href="/fire">Fire signs 🔥  </a>  </li>
        <li><a class="four" href="/earth" >Earth signs 🌏 </a>  </li>
        
    </ul>
    <%- body %>
    
</body>
</html>