<%- include('boilerplate/header.ejs')%>
<h1>Zodiac Controller</h1>

    <ul><a href = ' /air/air'>Air</a></ul>
    <ul><a href = ' /water/water'>Water</a></ul>
    <ul><a href = ' /fire/fire'>Fire</a></ul>
    <ul><a href = ' /earth/earth'>Earth</a></ul>



<%- include('boilerplate/footer.ejs')%>