<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Controller</title>
</head>
<body>
    <h1>Zodiac Controllers</h1>
    <ul>
        <li><a href='/air'>AIR</a></li>
        <li><a href='/water'>WATER</a></li>
        <li><a href='/fire'>FIRE</a></li>
        <li><a href='/earth'>EARTH</var></a></li>
    </ul>
    <%- body %> 
</body>
</html>