<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Vibes</title>
</head>
<body>
    <h1>ZODIAC CONTROLLER</h1>
    <%- body %>
    <h2>Navigation</h2>
    <ul>
        <li><a href="/air">air</a></li>
        <li><a href="/earth">earth</a></li>
        <li><a href="/fire">fire</a></li>
        <li><a href="/water">water</a></li>
        <li><a href="/">home</a></li>
    </ul>
    <h3>bottom text</h3>

</body>
</html>