<!DOCTYPE html>
<html>
    <head>
        <title>Zodiac Controller</title>
        <!-- href path is assumed to start in the static folder x-->
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <header>
        <title>Zodiac Controller</title>
    </header>
    <body>

        <%- body %>

        <script src=".//js/script.js"></script>
    </body>
</html>