<!DOCTYPE html>
<html>
<head>
  <title>Zodiac Controller</title>
</head>
<body>
  <ul>
    <li><a href='/air'>Air Signs</a></li>
    <li><a href='/earth'>Earth Signs</a></li>
    <li><a href='/fire'>Fire Signs</a></li>
    <li><a href='/water'>Water Signs</a></li>
  </ul>
  <%- body %>
</body>
</html>