<!DOCTYPE html>

<html>
  <head>
    <title>Zodiac Stuff</title>

    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <h1>Zodiac Controller</h1>
    <a href="/">Home</a>
    <!-- we need a body scriptlet injection tag -->
    <!-- \/ \/this is where the  layout is going \/\/\/ -->
    <%- body %>

    <script src="" async defer></script>
  </body>
</html>
