<!DOCTYPE html>
<html>
    <head>
        <title>Zodiac</title>
       
    </head>

    <body>
        <%- include('./partials/header.ejs') %>

        <!-- we need a body scriptlet injection tag -->
        <%- body %>

        
    </body>
</html>