<img src="https://askastrology.com/wp-content/uploads/2020/07/leo_astrology_sign.jpg" alt="leo">

<p>Dates: July 23rd – August 22nd.</p>
<p>Lucky Day: Sunday</p>
<p>Lucky Numbers: 2, 3, 5, 11, and 14</p>
<p>Colors: Gold (primary), additional colors include: Yellow, Red, and Orange</p>
<p>Birth Stones: Peridot (primary).</p>