<%- include('./partials/header.ejs')%>
<main
  class="min-vh-100"
  style="
    background-image: url('/imgs/libra.png');
    background-size: cover;
    background-position: center center;
  "
>
  <h1 class="text-white text-center pt-3">Libra</h1>
</main>
<%- include('./partials/footer.ejs')%>
