<img src="https://askastrology.com/wp-content/uploads/2020/07/libra_astrology_sign.jpg" alt="libra">

<p>Dates: September 23rd – October 22nd.</p>
<p>Lucky Day: Friday</p>
<p>Lucky Numbers: 1, 5, 6, 7, 10, 14, and 24</p>
<p>Colors: Pink (primary), additional colors include: white and orange</p>
<p>Birth Stones: Opal (primary)</p>



