<img src="https://askastrology.com/wp-content/uploads/2020/07/pisces_astrology_sign.jpg" alt="pisces">

<p>Dates: February 19th – March 20th.</p>
<p>Lucky Day: Thursday</p>
<p>Lucky Numbers: 3, 5, 8, 12, 14, and 26</p>
<p>Colors: Lavender (primary), additional colors include: sea foam green and aquamarine</p>
<p>Birth Stones: Aquamarine (primary)</p>

