<img src="https://askastrology.com/wp-content/uploads/2020/07/sagittarius_astrology_sign.jpg" alt="sagittarius">

<p>Dates: November 22nd – December 21st.</p>
<p>Lucky Day: Thursday</p>
<p>Lucky Numbers: 4, 5, 9, 22, 23, and 45</p>
<p>Colors: Red (primary), additional colors include: orange and yellow</p>
<p>Birth Stones: Turquoise (primary)</p>
