<img src="https://askastrology.com/wp-content/uploads/2020/07/scorpio_astrology_sign.jpg" alt="scorpio">


<p>Dates: October 23rd to November 21st.</p>
<p>Lucky Day: Tuesday</p>
<p>Lucky Numbers: 2, 3, 5, 8, 20, 21, and 41</p>
<p>Colors: Black (primary), additional colors include: maroon and brown</p>
<p>Birth Stones: Topaz (primary)</p>