<ul>Signs
    <% signs.forEach((sign) =>{ %>
        <li><a href="/<%= name %>/<%= sign %>"><%= sign %></a></li>
    <% })%>
</ul>

<ul>Traits
    <% traits.forEach((trait) =>{ %>
        <li><%= trait %></li>
    <% })%>
</ul>

