<img src="https://askastrology.com/wp-content/uploads/2020/07/taurus-astrology-sign.jpg" alt="taurus">

<p>Dates: April 20th – May 20th.</p>
<p>Lucky Day: Friday</p>
<p>Lucky Numbers: 1, 2, 3, 7, 10, 12, and 19</p>
<p>Colors: Green (primary), additional colors include: brown</p>
<p>Birth Stones: Emerald (primary)</p>