<img src="https://askastrology.com/wp-content/uploads/2020/07/virgo_astrology_sign.jpg" alt="virgo">

<p>Dates: August 23rd and September 22nd.</p>
<p>Lucky Day: Wednesday</p>
<p>Lucky Numbers: 2, 6, 8, 15, 20, and 35</p>
<p>Colors: Silver (primary), additional colors include: indigo, green, and brown</p>
<p>Birth Stones: Sapphire (primary)</p>