<h1>Water</h1>

<h2>Signs</h2>
<ul>
    <li><a href = '/water/cancer'>Cancer</a></li>
    <li><a href = '/water/pisces'>Pisces</a></li>
    <li><a href = '/water/scorpio'>Scorpio</a></li>
</ul>

<!-- <ul>
    <% waterSigns.forEach((signs) => { %>
        <li><%= signs %></li>
    <% }) %>
</ul> -->

<h2>Traits</h2>

<ul>
    <% water.forEach((characterisitcs) => { %>
        <li><%= characterisitcs %></li>
    <% }) %>
</ul>