<h1>Water Signs</h1>
<ul>
    <% waterSigns.forEach((sign)=> { %>
        <li><%= sign %></li>
    <% }) %>
</ul>
<h1>Water Traits</h1>
<ul>
    <% waterTraits.forEach((trait)=> { %>
        <li><%= trait %></li>
    <% }) %>
</ul>