<h1>Water</h1>

<ul>
    <li><a href="water/pisces">Pisces</a></li>
    <li><a href="water/cancer">Cancer</a></li>
    <li><a href="water/scorpio">Scorpio</a></li>
</ul>

<ul>
    <% waterTraits.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
</ul>