<h1>water signs</h1>
<h2>the water signs are:</h2>
<ul>
    <% waterSigns.forEach((sign) => { %>
        <li><%= sign %></li>

    <% }) %>
</ul>
<h2>these are their traits:</h2>
<ul>
    <% waterTraits.forEach((trait) => { %>
        <li><%= trait %></li>

    <% }) %>
</ul>