<h2>Water</h2>

<ul>
    <% waterTraits.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>
</ul>

<ul>

    <% waterSigns.forEach(function(i){ %>
        <li>
            <%=i%>
        </li>
        <% }) %>
</ul>