<ul>
    <li>
        <a href="/">Home</a>
    </li>
</ul>


<h3>Pisces</h3>
<h3>Cancer</h3>
<h3>Scorpio</h3>



<ul>
    <% waterTraits.forEach(trait=> { %>
         <li>
             <%= trait %> 
         </li>
    <% }) %>
 </ul>


