
<ul>
    <% waterSigns.forEach(sign => { %>
        <a href="water/<%= sign %>">
            <%= sign %>
        </a>
    <% }) %>
</ul>
<ul>
    <% waterThings.forEach(thing => { %>
        <li><%= thing %> </li>
    <% }) %>
</ul>