<!-- <ul>
    <li><a href='/watergroup/cancer'>Cancer</a></li>
    <li><a href='/watergroup/pisces'>Pisces</a></li>
    <li><a href='/watergroup/scorpio'>scorpio</a></li>
</ul> -->
<ul>
    <% elementWater.forEach((water)=>{ %>
        <li> <%= water %> </li>
    <% }) %>
</ul>
