<h1>Water Signs</h1>
<ul>
    <% waterSigns.forEach((sign)=> { %>
        <li><%= sign %></li>
    <% }) %>
</ul>
<h2>To See an Image of Your Sign's Symbol: Click the links below</h2>
<ul>
    <li><a href="/water/cancer"> Cancer</a></li>
    <li><a href="/water/pisces"> Pisces</a></li>
    <li><a href="/water/scorpio"> Scorpio</a></li>
</ul>
<h1>Water Traits</h1>
<ul>
    <% waterTraits.forEach((trait)=> { %>
        <li><%= trait %></li>
    <% }) %>
</ul>