<h2>Water</h2>
<ul>
    <% waterTrait.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
</ul>

<ul>
    <% types.forEach((type)=>{ %>
        <a href="/water/<%= type %>"><li><%= type %></li></a>
    <% }) %>
</ul>