<div style="background-color: rgb(35, 53, 211); color: white; max-width: 50rem; margin: 0 auto;">
    <h1 style="text-align: center;">Water Zodiac</h1>
    <div style="text-align: center;">
        <h2>Water Signs</h2>
        <% waterSigns.forEach(element => { %>
        <li> <%= element %></li>
        <% }) %>
    </div>
    <div style="text-align: center;">
        <h2>Water Traits</h2>
        <% waterTraits.forEach(element => { %>
            <li> <%= element %></li>
        <% }) %>
    </div>

</div>
