<h1>Zodiac Signs</h1>
<ul>
    <li><a href='/air'>Air</a></li>
    <li><a href='/fire'>Fire</a></li>
    <li><a href='/earth'>Earth</a></li>
</ul>
<h2>Water Signs</h2>
<ul>
    <% waterSigns.forEach(sign => { %>
        <li><%= sign %></li>
    <% }) %>
</ul>
<h2>Water Traits</h2>
<ul>
    <% waterTraits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>
<a href="water/cancer">Click for Cancer image!</a><br>
<a href="water/pisces">Click for Pisces image!</a><br>
<a href="water/scorpio">Click for Scorpio image!</a>