<h2>🌊WATER🌊</h2>

<div id="signs">
    <h3><%=signW1%> | <%=signW2%> | <%=signW3%></h3>
</div>

<div id="traits">
    <h4>Traits:</h4>
    <ul>
        <%waterTraitsArr.forEach(function(i){%>
            <li><%=i%></li>
        <%})%>
    </ul>
</div>

<a href="/">go to main</a>