<%- include('partials/header.ejs') %>

<h1>Water Signs:</h1>

<ul>
    <% Signs.forEach(water => { %>
        <li><%= water %></li>
  <%  }) %>
</ul>

  <h2>Water abilities: </h2>
<ol>
    <% Abilities.forEach(ability => { %>
      <li><%= ability %></li>
  <%  }) %>
</ol>


<%- include('partials/footer.ejs') %>