<h2>WATER</h2>

<h3>signs</h3>
<ul>
    <% water.forEach(water => { %>
        <!-- this oone needs wqual sign because want it to be showed up -->
        <li><%= water %></li>
      <% }) %>
</ul>

<h4>traits</h4>
<ol>
    <% traits.forEach(traits => { %>
        <!-- this oone needs wqual sign because want it to be showed up -->
        <li><%= traits %></li>
    
    <% }) %>
</ol>
