<%- include('partials/header.ejs') %>
<a href="/">HOME</a>
<ul>
    <% elements.water.forEach(sign => { %>
        <li><%= sign.signs %> </li>
    <% }) %>
</ul>
<ul>
    <% elements.water.forEach(thing => { %>
        <li><%= thing.attributes %> </li>
    <% }) %>
</ul>

<%- include('partials/footer.ejs') %>