<h1> Are you an 💧 Sign?</h1>
<ul>
    <li>Pisces</li>
    <li>Cancer</li>
    <li>Scorpio</li>
</ul>
<h3>Traits of a 💧 sign!</h3>


<% waterTraits.forEach(wTraits => { %>
<div>
    <li><%=wTraits%> </li>
</div>
<% })%>
    
