<%- include('./partials/header.ejs')%>
<main class="min-vh-100">
  <!-- Start Carousel -->
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/imgs/cancer.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/imgs/scorpio.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="/imgs/pisces.png" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Carousel -->
  <!-- Start traits banner -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <ul
        class="nav text-primary d-flex flex-wrap justify-content-between w-100"
      >
        <%traits.forEach(trait=>{%>
        <li class="nav-item"><%=trait%></li>
        <%})%>
      </ul>
    </div>
  </nav>
  <!-- End traits banner -->
</main>
<%- include('./partials/footer.ejs')%>
