<h1>Water Traits</h1>
<ul>
    <%water.forEach((trait)=>{%>
        <li><%= trait%></li>
        <% })%>
        <li><a href="/water/cancer">Cancer</a></li>
        <li><a href="/water/pisces">Pisces</a></li>
        <li><a href="/water/scorpio">Scorpio</a></li>
</ul>