<header><h1>Water</h1></header>

<h2>Signs</h2>
<ul>
  <% waterSigns.forEach(sign => { %>
  <h3><%= sign %></h3>
  <% }) %>
</ul>

<h2>Traits</h2>
<ul>
  <% waterTraits.forEach(trait => { %>
  <h3><%= trait %></h3>
  <% }) %>
</ul>
