<%- include('partials/header.ejs') %>

<h1>
  <a href='/air/pisces'>Pisces</a>/<a href='/air/cancer'>Cancer</a>/<a href='/air/scorpio'>Scorpio</a></h1>
</h1>

<ul>
  <% traits.forEach(trait => { %>
  <li><%= trait %></li>
  <% }) %>
</ul>

<%- include('partials/footer.ejs') %>