<a href="/air">AiR🌪🌬😮‍💨</a>
<a href="/water">WaTeR💦🛁🧊</a>
<a href="/fire">FiRe 💥🪵🔥</a>
<a href="/earth">EaRtH🍄🌝🌎</a>

<ul>
<% for (i = 0; i < waterSigns.length; i++) { %>
   <li> <%= waterSigns[i]%> </li>
<% } %>
</ul>

<ul>
<% for (i = 0; i < waterTraits.length; i++) { %>
   <li> <%= waterTraits[i]%> </li>
<% } %>
</ul>