<% let signs = ['Pisces', 'Cancer', 'Scorpio'] %>
<% let traits = ['Private', 'Mysterious', 'Pyshic', 'Charming', 'Emotional', 'Sensitive'] %>
<ul>Signs
    <% signs.forEach((sign) =>{ %>
        <li><%= sign %></li>
    <% })%>
</ul>

<ul>Traits
    <% traits.forEach((trait) =>{ %>
        <li><%= trait %></li>
    <% })%>
</ul>