<h2 style="color: rgb(28, 58, 155)">Water signs</h2>

<ul>
  <%waterTraits[0].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
<h2 style="color: rgb(28, 58, 155)">Traits</h2>
<ul>
  <%waterTraits[1].forEach(elem=>{%>
  <li><%=elem%></li>
  <%})%>
</ul>
