<div id="water">
    <h2>Water Signs</h2>
    <h3>PISCES CANCER SCORPIO</h3> 
    <div>
        <p>Traits of Water Signs: </p>
        <ul>
                <% traits.forEach(trait => { %>
                    <li> <%= trait %> </li>
                <% }) %> 
        </ul>
    </div>
</div>