<div class="water">
    <h1>Water Signs</h1>
    <ul>
        <% waterSigns.forEach(sign => { %>
            <li class="list"><a href="/water/<%= sign %>"><%= sign %></a></li>
        <% }) %>
    </ul>
    <ul>
        <% waterTraits.forEach(trait => { %>
            <li class="list"> <%= trait %> </li>
        <% }) %>
    </ul>
</div>