<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Water</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <h1>Water</h1>
    <h3>
        <% water.forEach(waters => { %>
         <li><%=waters %></li>
      <%  }) %>
     </h3>
     </ol>
        <script src="" async defer></script>
    </body>
</html>