<h2>Water</h2>
<div>
    <h3>Pisces | Cancer | Scorpio</h3>
</div>
<div>
    <h4>Traits include:</h4>
    <ul>
        <% for(let i = 0; i < water.length; i++){ %>
                <li><%= water[i] %> </li>
        <% } %> 
    </ul>
</div>