<%- include('boilerplate/header.ejs')%>
<h1>Water</h1>
<ul> <h2>Types: </h2>
    <ul><a>Cancer</a></ul>
    <ul><a>Scorpio</a></ul>
    <ul><a>Pisces</a></ul>

</ul>
<ul> <h2>Qualities:</h2>
    <%waterQualities.forEach(function(quality){%>
        <ul><%=quality%></ul>
        <%})%>
    </ul>
      <!-- <h2> Qualities: </h2>
     <ul>private</ul>
     <ul>mysterious</ul>
     <ul>pyschic</ul>
     <ul>charming</ul>
     <ul>emotional</ul>
     <ul>sensitive</ul>  -->

<%- include('boilerplate/footer.ejs')%>