<h2>Water Signs</h2>
<ul></ul>
<% waterSigns.forEach((signs)=>{ %>
    <li><%= signs %></li>
<% }) %>
</ul>

<h2>water Traits</h2>
<ul></ul>
<% waterTraits.forEach((traits)=>{ %>
    <li><%= traits %></li>
<% }) %>
</ul>