body {
    background-color: black;
    color: white;
    text-align: center;
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#Water {
    color: rgb(52, 112, 251)
}
#Air {
    color:rgb(255, 255, 255)
}
#Earth {
    color:rgb(4, 201, 83)
}
#Fire {
    color:rgb(240, 124, 0)
}

ul {
    position:relative;
    display: inline-block;  
    list-style: none;
    width:100%;
    text-align: center;
    margin: auto;
    padding: 0;
}
