
<h3>Earth Capricorn traits</h3>
<ul>
    <% earth.forEach((el)=>{ %>
      <li><%= el %></li>  
    <% }) %>
</ul>

<img src='/img/Capricorn.jpg' alt='Capricorn Sign Image' style='height:500px; width:500px'>