<h1>Capricorn</h1>
<img src="https://media.istockphoto.com/vectors/zodiac-capricorn-sign-vector-id538871926?k=20&m=538871926&s=612x612&w=0&h=IdGoLNvTDvgsiB21JeG0PXd3FKOMdyqA4ClKC-rWapw=" alt="Capricorn">