<h1>Capricon</h1>
<img src="https://media.istockphoto.com/photos/capricorn-zodiac-sign-abstract-night-sky-background-picture-id858075242?k=20&m=858075242&s=612x612&w=0&h=I-KdFsOewM5S71mf56bAg3DECM5MU1vekV35QdpSBC4=" alt="image of Capricon sign">