<h1>Image of Capricorn </h1>
<a href='/earth'>Earth</a>
<h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJT1mywyymfeTmrQ-Bgj1lnkQ4--9mvh-9yw&usqp=CAU" alt="image of capricorn">
</h1>