<h1>Earth Signs</h1>
<ul>
    <% earthSigns.forEach(signs => { %>
        <li><a href='/earth/<%= signs %>'><%= signs %></a></li>
    <% }); %>
</ul>

<h1>Earth Traits</h1>
<ul>
    <% earthTraits.forEach(traits => { %>
    <li><%= traits %></li>
    <% }); %>
</ul>