<h1>Earth</h1>

<h3>Signs:</h3>
<ul>
    <li><a href="earth/capricorn">Capricorn</a></li>
    <li><a href="earth/taurus">Taurus</a></li>
    <li><a href="earth/virgo">Virgo</a></li>
    
</ul>

<h3>Traits:</h3>
<ul>
    <% earthTraits.forEach((trait)=>{ %>
        <li><%= trait %></li>
    <% }) %>
</ul>