<h1>Earth </h1>
<h2>Signs</h2>
<ul>
    <li><a href="earth/capricorn">Capricorn</a></li>
    <li><a href="earth/taurus">Taurus</a></li>
    <li><a href="earth/virgo">Virgo</a></li>
</ul>
<h2>Traits</h2>
<ul>
    <% earthTraits.forEach((earth)=> { %>
        <li><%= earth %></li>
        <% }) %>
    </ul>