<h1>Earth Signs</h1>
<h3><a href="/earth/taurus">Taurus</a></h3>
<h3><a href="/earth/virgo">Virgo</a></h3>
<h3><a href="/earth/capricorn">Capricorn</a></h3>
<ul>
    <%earthSigns.forEach((traits)=>{%>
        <li><%= traits %></li>
    <% }) %>

</ul>