<h1>Description of Earth Sign</h1>

<a href='/'>Home</a>
<a href='/earth/taurus'>Taurus </a>
<a href='/earth/virgo'>Virgo </a>
<a href='earth/capricorn'>Capricorn </a>

<ul>
    <% earthDescription.forEach((earth) => { %>
        <li><%= earth %></li>
    <% }) %> 
</ul>



