<h1>taurus</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Taurus_Astrological_Sign_at_the_Wisconsin_State_Capitol.jpg/220px-Taurus_Astrological_Sign_at_the_Wisconsin_State_Capitol.jpg" alt="Taurus Bull">