<h1>Air Signs</h1>
<h3><a href="/air/aquarius">Aquarius</a></h3>
<h3><a href="/air/gemini">Gemini</a></h3>
<h3><a href="/air/libra">Libra</a></h3>
<ul>
    <%airSigns.forEach((traits)=>{%>
        <li><%= traits %></li>
    <% }) %>

</ul>