<h1>Description of Air Sign</h1>
<a href='/'>Home</a>
<a href='/air/libra'>Libra </a>
<a href='/air/gemini'>Gemini </a>
<a href='air/aquarius'>Aquarius </a>

<ul>
    <% airDescription.forEach((air) => { %>
        <li><%= air %></li>
    <% }) %> 
</ul>

