<h1>Air</h1>
<h2>Signs</h2>
<ul>
    <li><a href="air/aquarius">Aquarius</a></li>
    <li><a href="air/gemini">Gemini</a></li>
    <li><a href="air/libra">Libra</a></li>
</ul>
<h2>Traits</h2>
<ul>
    <% airTraits.forEach((air)=> { %>
        <li><%= air %></li>
        <% }) %>
    </ul>