
<h3>Air Aquarius traits</h3>
<ul>
    <% air.forEach((el)=>{ %>
      <li><%= el %> </li>  
    <% }) %>
</ul>

<img src="/img/Aquarius.jpg" alt="Aquarius Sign Image" style='height:500px; width:500px'>