<h1>Aquarius</h1>
<img src="https://media.istockphoto.com/vectors/zodiac-sign-aquarius-vector-id539240576?k=20&m=539240576&s=612x612&w=0&h=7mYr0YoToJ-hEtpPpe-DRouB8bdgjxw1InhWVWc9I_M=" alt="Aquarius">