<h1>libra</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Libra_Astrological_Sign_at_the_Wisconsin_State_Capitol.jpg/220px-Libra_Astrological_Sign_at_the_Wisconsin_State_Capitol.jpg" alt="Libra Scale">