<h1>Aries</h1>
<img
  src="https://previews.123rf.com/images/ntlstudio/ntlstudio2003/ntlstudio200300877/143337789-aries-zodiac-sign-black-vector-illustration-celestial-ram-esoteric-fire-silhouette-symbol-astrologic.jpg"
  alt=""
/>
