<h1>Fire Signs</h1>
<ul>
    <% fireSigns.forEach(element => { %>
        <li><%= element %> </li>
    <% }) %> 
</ul>


<h2>Fire Traits</h2>
<ul>
    <% fire.forEach(element => { %>
        <li><%= element %> </li>
    <% }) %>
</ul>