<h1>Fire Signs</h1>
<ul>
    <% arrSigns.forEach(sign => { %>
      <li><a href="/fire/<%= sign %>"><%= sign %></a></li>
    <% }) %>
  </ul>
  <br>
  <h1>Fire Traits</h1>
  <ul>
    <% arrTraits.forEach(trait => { %>
      <li><%= trait %></li>
      <% }) %> 