<h1>Description of Fire Sign</h1>

<a href='/'>Home</a>
<a href='/fire/Leo'>Leo </a>
<a href='/fire/Aries'>Aries </a>
<a href='fire/sagittarius'>Sagittarius </a>

<ul>
    <% fireDescription.forEach((fire) => { %>
        <li><%= fire %></li>
    <% }) %> 
</ul>


