<h1>Fire Signs</h1>
<h3><a href="/fire/aries">Aries</a></h3>
<h3><a href="/fire/leo">Leo</a></h3>
<h3><a href="/fire/saggitarius">Saggitarius</a></h3>
<ul>
    <%fireSigns.forEach((traits)=>{%>
        <li><%= traits %></li>
    <% }) %>

</ul>