<h1>Sagittarius</h1>
<img src="https://media.istockphoto.com/vectors/zodiac-sign-sagittarius-vector-id539016936?k=20&m=539016936&s=612x612&w=0&h=SnOpSr-4u1WqXnpl7bNlqdF64lEUuvx2zgAC02xafQ0=" alt="Sagittarius">