
<h3>Water Cancer traits</h3>
<ul>
    <% water.forEach((el)=>{ %>
      <li><%= el %></li>  
    <% }) %>
</ul>

<img src="../../img/cancer.jpg" alt="Cancer Sign image" style='height:500px; width:500px'>