
<h3>Water Pisces traits</h3>
<ul>
    <% water.forEach((el)=>{ %>
      <li><%= el %></li>  
    <% }) %>
</ul>

<img src='../../img/pisces.ejs.jpg' alt='Pisces Sign Image' style='height:500px; width:500px'>