
<h3>Water Scorpio traits</h3>
<ul>
    <% water.forEach((el)=>{ %>
      <li><%= el %></li>  
    <% }) %>
</ul>

<img src='../../img/scorpio.jpg' alt='Scorpio Sign image' style='height:500px; width:500px'>