<h1>Description of Water Sign</h1>

<a href='/'>Home</a>
<a href='/water/Cancer'>Cancer </a>
<a href='/water/Pisces'>Pisces </a>
<a href='water/scorpio'>Scorpio </a>

<ul>
    <% waterDescription.forEach((water) => { %>
        <li><%= water %></li>
    <% }) %> 
</ul>


