<h2>Water Signs</h2>
<ul>
    <% signs.forEach(sign => { %>
        <li><a href='/water/<%= sign %>'><%= sign %></a></li>
    <% }) %>
</ul>
<h3>Water Traits</h3>
<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
    <% }) %>
</ul>