<h1>Water Signs</h1>
<ul>
    <% waterSigns.forEach((sign) => { %>
        <li><a href="/water/<%= sign %>"><%= sign %></a></li>
    <% }) %>
</ul>
<h2>Traits:</h2>
<ul>
    <% waterTraits.forEach((trait) => { %>
        <li><%= trait %></li>
    <% }) %>
</ul> 