<h1>Water</h1>
<h2>Signs</h2>
<ul>
    <li><a href="water/scorpio">Scorpio</a></li>
    <li><a href="water/pisces">Pisces</a></li>
    <li><a href="water/cancer">Cancer</a></li>
</ul>
<h2>Traits</h2>
<ul>
    <% waterTraits.forEach((water)=> { %>
        <li><%= water %></li>
        <% }) %>
    </ul>