<h1>Water Signs</h1>
<ul>
    <% waterSigns.forEach(signs => { %>
        <li><a href='/water/<%= signs %>'><%= signs %></a></li>
    <% }); %>
</ul>

<h1>Water Traits</h1>
<ul>
    <% waterTraits.forEach(traits => { %>
    <li><%= traits %></li>
    <% }); %>
</ul>