<h1>Water Signs</h1>
<h3><a href="/water/pisces">Pisces</a></h3>
<h3><a href="/water/cancer">Cancer</a></h3>
<h3><a href="/water/scorpio">Scorpio</a></h3>
<ul>
    <%waterSigns.forEach((traits)=>{%>
        <li><%= traits %></li>
    <% }) %>

</ul>