<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home view</title>
</head>
<body>
    <h2>"Let's learn about the signs!"</h2>
    <a href="/view/water.ejs">Water's Link</a>
    <a href="/view/air.ejs">Air's Link</a>
    <a href="/view/fire.ejs">Fire's Link</a>
    <a href="/view/earth.ejs">Earth's Link</a>
</body>
</html>